* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Open Sans', sans-serif;
}

.header {
   background: #282828;
   min-height: 180px;
}
.container {
   max-width: 1440px;
   margin: 0 auto;
}

.header-block {
   display: flex;
   justify-content: space-between;
   padding: 20px 0;
}
.header-block__logo {
   margin-top: 16px;
}
.header-block__info-top ul{
   display: flex;
   list-style: none;
}

.header-block__info-top ul li {
   margin-right: 50px;
}
.header-block__info-top ul li a {
   text-decoration: none;
   color: #fff;
}

.active i {
   color: #ffd200;

}
.header-block__info-top ul li a i {
   margin-right: 8px;
   font-size: 15px;
}

.header-block__info-top ul li a:hover {
   color: #ffd200;
}
.header-block__search-phone {
   margin: 20px;
}
.header-block__search-phone a {
   color: #fff;
   font-size: 26px;
   font-weight: 600;
   margin-top: 40px;
   text-decoration: none;
}
.header-block__search-phone span {
   display: block;
   font-size: 13px;
   color: #b8b8b8;
   margin: 8px 0 0 55px;
}
.header-block__search-phone i {
   padding-right: 10px;
}
.header-block__search-input {
   border-radius: 5px;
   overflow: hidden;
}
.header-block__search {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.search-input {
   display: flex;
   align-items: center;
   border-radius: 10px;
   width: 400px;
}
.header-block__search-input input {
   padding: 0 30px 0 15px;
   border: none;
   width: 380px;
   height: 34px;
}
.btn {
   width: 34px;
   height: 34px;
   border: none;
}
.header-block__clients-ul {
   display: flex;
}
.header-block__clients-ul li {
   list-style: none;
   padding: 10px 0 0;
}
.header-block__clients-ul li a {
   display: block;
   padding: 14px 20px ;
   border-radius: 5px 5px 0 0;
   font-size: 19px;
}
.header-block__clients-ul li a:hover {
   text-decoration: underline;
   color: #ffd200;
}
.header-block__clients-ul li.active a {
   background-color: #ffd200;
   display: block;
   text-align: center;
   padding: 14px 20px ;
   border-radius: 5px 5px 0 0;
   color: #000;
   font-size: 19px;
}
.header-block__clients-ul li a{
   color: #fff;
   text-decoration: none;
}
/* ===== private-clients-block ===== */
.private-clients {
   width: 100%;
   min-height: 600px;
   background: #313848;
   margin: 0;
}
.private-clients-block {
   background: #ffd200;
   border-radius: 0 5px 5px 5px;
   padding: 5px;
}
.private-clients-block ul {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}
.private-clients-block li {
   padding: 0 0 0 30px;
   width: 230px;
   margin: 15px 0;
}
.private-clients-block li a{
   text-decoration: none;
   font-size: 14px;
   color: #282828;
   display: flex;
   align-items: center;
}
.private-clients-block li a i {
   margin-right: 8px;
   font-size: 24px;
   opacity: 0.5;
}
.private-clients-block li a:hover {
   color: #000;
   font-weight: 400;
}
.private-clients-block li a:hover i {
   opacity: 1;
}

/* ===== charge-card ===== */
.charge-card {
   display: flex;
   margin: 30px 15px;
}
.charge-card__block-1 {
   width: 50%;
   margin-top: 50px;
}

.charge-card__block-1-img {
   width: 65vh;
   margin: 0 auto;
}
.charge-card__block-1-img img {
   max-width: 100%;
}
.charge-card__block-2 {
   text-align: center;
   width: 50%;
}
.charge-card__block-2 h1 {
   font-size: 60px;
   color:  #ffd200;
   font-weight: 600;
   margin: 10px 0 30px;
}
.charge-card__block-2 h2 {
   font-size: 40px;
   background: #ffd200;
   font-weight: 600;
   margin: 10px 0 30px;
   padding: 10px 100px;
}
.charge-card__block-2-salary {
   display: flex;
   padding: 0 0 20px 0;
}
.charge-card__block-2-salary-child {
   padding: 8px;
   width: 33.3333%;
   border-right: 1px solid #606878;
}
.charge-card__block-2-salary-child:nth-child(3) {
   border: none;
}

.charge-card__block-2-salary-child h3 {
   font-size: 30px;
   font-weight: 600;
   color: #ffffff;
   margin: 10px 0 20px 0;
}
.charge-card__block-2-salary-child p {
   font-size: 18px;
   font-weight: 400;
   color: #ffffff;
   padding: 0 10px;
}

/* ==============  media =============*/
/* ==============  media =============*/
/* ==============  media =============*/

/* =========  media 1400px ========*/
@media (max-width: 1400px){
   .charge-card {
      display: flex;
      flex-direction: column;
      margin: 0;
   }
   .charge-card__block-1 {
      width: 100%;
      margin-top: 50px;
   }
   .charge-card__block-2 {
      width: 100%;
      margin-top: 50px;
   }
}


/* =========  media 1200px ========*/

@media (max-width: 1200px) {

   .header-block {
      display: flex;
      flex-direction: column;
      padding-left: 90px;
   }
   .header-block__logo {
      margin-bottom: 30px;
   }
   .header-block__search {
      margin-top: 26px;
   }
}
/* =========  media 960px ========== */
/* =========  media 960px ========== */

@media (max-width: 960px) {
   .header-block__info-top ul {
      display: flex;
      flex-direction: column;
   }
   .header-block__info-top ul li {
      margin-bottom: 14px;
   }
   .header-block__search {
      margin-bottom: 20px;
   }
}
/* =========  media 760px ========== */
/* =========  media 760px ========== */
@media (max-width: 760px) {
   .header-block__search {
      display: flex;
      flex-direction: column;
      margin: 0 0 50px 0;
   }
   .header-block__search-phone {
      display: block;
      text-align: left;
   }
}

/* =========  media 560px ========== */
/* =========  media 560px ========== */
@media (max-width: 560px) {
   .header-block {
      padding: 0 30px;
   }
   .search-input {
      width: 100%;
  }
   .header-block__clients-ul {
     display: block;
     margin-left: 0;
  }
   .header-block__search {
      display: block;
   }
   .header-block__search-phone {
      margin: 30px 0;
   }
   .charge-card__block-2-salary {
      display: flex;
      flex-direction: column;
   }
   .charge-card__block-2-salary-child {
      padding: 8px 8px 26px;
      width: 100%;
      border-right: none;
   }
   .charge-card__block-2 h1 {
      font-size: 50px;
   }
   .charge-card__block-2 h2 {
      font-size: 30px;
      padding: 8px ;
   }
   .charge-card__block-1-img {
      width: 50vh;
      margin: 0 auto;
   }

}

@media (max-width: 440px) {
   .charge-card__block-1-img {
      width: 40vh;
      margin: 0 auto;
   }
}